<div>
    Chat log:<br>
    <mat-list dense role="list">
        <mat-list-item
            *ngFor="let chatMessage of chatLog"
            [ngStyle]="{'color': chatMessage.Color, 'background-color': 'black'}">
            {{ chatMessage.Text }}
        </mat-list-item>
    </mat-list>

    <mat-form-field>
        <input matInput [(ngModel)]="chatInput">
        <button mat-button matSuffix mat-icon-button aria-label="Send" (click)="sendChat()">
            <mat-icon>send</mat-icon>
        </button>
    </mat-form-field>
</div>
<div>
    Action log:<br>
    <mat-list dense role="list">
        <mat-list-item
            *ngFor="let actionMessage of actionLog"
            [ngStyle]="{'color': actionMessage.Color, 'background-color': 'black'}">
            {{ actionMessage.Text }}
        </mat-list-item>
    </mat-list>
</div>