<div>
    Chat log:<br>
    <mat-list dense role="list">
        <mat-list-item
            *ngFor="let chatMessage of chatLog"
            [ngStyle]="{'color': chatMessage.Color, 'background-color': 'black'}">
            {{ chatMessage.Text }}
        </mat-list-item>
    </mat-list>

    <mat-form-field>
        <input matInput [(ngModel)]="chatInput">
        <button mat-button matSuffix mat-icon-button aria-label="Send" (click)="sendChat()">
            <mat-icon>send</mat-icon>
        </button>
    </mat-form-field>
</div>
<div>
    Action log:<br>
    <mat-list dense role="list">
        <mat-list-item
            *ngFor="let actionMessage of actionLog"
            [ngStyle]="{'color': actionMessage.Color, 'background-color': 'black'}">
            {{ actionMessage.Text }}
        </mat-list-item>
    </mat-list>
</div>
<div>{{ noncardInformationText }}</div>
<!-- component to display played cards - use CardArrayDisplayComponent for the moment -->
<!-- component to display discarded cards - use CardArrayDisplayComponent -->
<!-- list of components to display visible hands before viewing player - use CardArrayDisplayComponent -->
<!-- component to display knowledge of hand of viewing player -->
<!-- list of components to display visible hands after viewing player - use CardArrayDisplayComponent -->