<div [ngStyle]="{'background-color': 'black'}">
    Chat log:<br>
    <mat-list dense role="list">
        <mat-list-item
            *ngFor="let chatMessage of chatLog"
            [ngStyle]="{'color': chatMessage.Color, 'background-color': 'black'}">
            {{ chatMessage.Text }}
        </mat-list-item>
    </mat-list>

    <mat-form-field>
        <input matInput [(ngModel)]="chatInput">
        <button mat-button matSuffix mat-icon-button aria-label="Send" (click)="sendChat()">
            <mat-icon>send</mat-icon>
        </button>
    </mat-form-field>
</div>

<div [ngStyle]="{'background-color': 'black'}">
    Action log:<br>
    <mat-list dense role="list">
        <mat-list-item
            *ngFor="let actionMessage of actionLog"
            [ngStyle]="{'color': actionMessage.Color, 'background-color': 'black'}">
            {{ actionMessage.Text }}
        </mat-list-item>
    </mat-list>
</div>

<div [ngStyle]="{'background-color': 'black'}">
    {{ noncardInformationText }}
</div>

<!-- We are using CardArrayDisplayComponent to display played cards for the moment. -->
<div [ngStyle]="{'background-color': 'black'}">
    Played cards:<br>
    <mat-list dense role="list">
        <mat-list-item *ngFor="let playedSequence of playedSequences">
            <card-array-display [cardArray]="playedSequence"></card-array-display>
        </mat-list-item>
    </mat-list>
</div>

<div [ngStyle]="{'background-color': 'black'}">
    Discarded cards:<br>
    <card-array-display [cardArray]="discardPile"></card-array-display>
</div>

<div [ngStyle]="{'background-color': 'black'}">
    <div *ngIf="!hasPlayersBeforeViewingPlayer()">
        Your turn!
    </div>
    <div *ngIf="hasPlayersBeforeViewingPlayer()">
        Players before you:<br>
        <mat-list dense role="list">
            <mat-list-item *ngFor="let playerHand of handsBeforeViewingPlayer"
                [ngStyle]="{'color': playerHand.playerColor, 'background-color': 'black'}">
                {{ playerHand.playerName }}:
                <card-array-display [cardArray]="playerHand.visibleCards"></card-array-display>
            </mat-list-item>
        </mat-list>
    </div>
</div>

<div [ngStyle]="{'background-color': 'black'}">
    What you know about your cards:<br>
    <mat-list dense role="list">
        <mat-list-item *ngFor="let playerCard of handOfViewingPlayer; let indexInHand = index">
            <span>
                Possible colors: {{ playerCard.PossibleColorSuits }}<br>
                Possible values: {{ playerCard.PossibleSequenceIndices }}
            </span>
            <span>
                &nbsp;
            </span>
            <span>
                <button
                    mat-raised-button
                    (click)="discardCard(indexInHand)"
                    [disabled]="turnButtonsDisabled">
                    Discard card (for hint)
                </button>
            </span>
            <span>
                &nbsp;
            </span>
            <span>
                <button
                    mat-raised-button
                    (click)="playCard(indexInHand)"
                    [disabled]="turnButtonsDisabled">
                    Play card
                </button>
            </span>
        </mat-list-item>
    </mat-list>
</div>

<div [ngStyle]="{'background-color': 'black'}">
    <div *ngIf="!hasPlayersAfterViewingPlayer()">
        No more players after you.
    </div>
    <div *ngIf="hasPlayersAfterViewingPlayer()">
        Players after you:<br>
        <mat-list dense role="list">
            <mat-list-item *ngFor="let playerHand of handsAfterViewingPlayer"
                [ngStyle]="{'color': playerHand.playerColor, 'background-color': 'black'}">
                {{ playerHand.playerName }}:
                <card-array-display [cardArray]="playerHand.visibleCards"></card-array-display>
            </mat-list-item>
        </mat-list>
    </div>
</div>
