<mat-toolbar color="primary">
  <span>Ilutulestikud!</span>
  <span class="ilutulestikud-spacer"></span>
  <mat-icon class="ilutulestikud-icon">favorite</mat-icon>
</mat-toolbar>

<mat-toolbar *ngIf="selectedPlayer">
  <span>Player:&nbsp;</span><span [ngStyle]="{'color': selectedPlayer.Color}">{{selectedPlayer.Name}}</span>
  <span class="ilutulestikud-spacer"></span>
  <mat-form-field>
    <mat-select placeholder="Select a player" [(ngModel)]="selectedPlayer">
      <mat-option
        *ngFor="let registeredPlayer of registeredPlayers"
        [value]="registeredPlayer"
        [ngStyle]="{'color': registeredPlayer.Color, 'background-color': 'black'}">
        {{ registeredPlayer.Name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-toolbar>

<mat-card *ngIf="informationText">
  <mat-card-header>
    <mat-card-title>Error!</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{informationText}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Dismiss message</button>
  </mat-card-actions>
</mat-card>

<div *ngIf="!selectedPlayer">
  <mat-form-field>
    <mat-select placeholder="Select a player" [(ngModel)]="selectedPlayer">
      <mat-option
        *ngFor="let registeredPlayer of registeredPlayers"
        [value]="registeredPlayer"
        [ngStyle]="{'color': registeredPlayer.Color, 'background-color': 'black'}">
        {{ registeredPlayer.Name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-button *ngIf="!isAddPlayerDialogueVisible" (click)="showAddPlayerDialogue()">Show register new player stuff?</button>
  <div *ngIf="isAddPlayerDialogueVisible">
    <p>Enter the name of the new player:</p>
    <input id="input" type="text" size="30" pInputText [(ngModel)]="newPlayerName"> 
      <button mat-button (click)="addPlayerFromDialogue()">Add new player</button>
      <button mat-button (click)="cancelAddPlayerInDialogue()">Cancel</button>
  </div>


  <button mat-raised-button (click)="openAddPlayerDialog()">Register new player?</button>
</div>

<hr>
<hr>
<br>
<hr>
<hr>
<div>
  The game should be displayed here.
</div>
<hr>
<hr>

<div style="text-align:center">
This is just a private demonstration of code and not a commercial venture.
</div>