<mat-toolbar color="primary">
  <span>Ilutulestikud!</span>
  <span class="ilutulestikud-spacer"></span>
  <mat-icon class="ilutulestikud-icon">favorite</mat-icon>
</mat-toolbar>

<mat-toolbar *ngIf="selectedPlayer">
  <span>Player:&nbsp;</span><span [ngStyle]="{'color': selectedPlayer.Color}">{{ selectedPlayer.Name }}</span>
  <span class="ilutulestikud-spacer"></span>
  <span>Chat:&nbsp;</span>
  <mat-form-field>
    <mat-select
      [ngModel]="selectedPlayer.Color"
      (ngModelChange)="changeChatColor($event)">
      <mat-option
        *ngFor="let availableColor of availableColors"
        [value]="availableColor"
        [ngStyle]="{'color': availableColor}">
        {{ availableColor }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-toolbar>

<mat-card *ngIf="informationText">
  <mat-card-header>
    <mat-card-title>Error!</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{ informationText }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="dismissErrorMessage()">Dismiss message</button>
  </mat-card-actions>
</mat-card>

<div *ngIf="!selectedPlayer">
  <mat-form-field>
    <mat-select placeholder="Select a player"
      [ngModel]="selectedPlayer"
      (ngModelChange)="selectPlayer($event)">>
      <mat-option
        *ngFor="let registeredPlayer of registeredPlayers"
        [value]="registeredPlayer"
        [ngStyle]="{'color': registeredPlayer.Color, 'background-color': 'black'}">
        {{ registeredPlayer.Name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button (click)="openAddPlayerDialog()">Register new player?</button>
</div>

<div *ngIf="selectedPlayer">
  <button mat-raised-button (click)="openCreateGameDialog()">Create new game?</button>

  <div *ngIf="turnSummariesOfGamesWithPlayer && turnSummariesOfGamesWithPlayer.length > 0">
    <mat-tab-group>
      <mat-tab
        *ngFor="let turnSummary of turnSummariesOfGamesWithPlayer"
        label="{{ turnSummary.GameName }}">{{ turnSummary.asText() }}</mat-tab>
    </mat-tab-group>
  </div>

  <game-display *ngIf="turnSummariesOfGamesWithPlayer && turnSummariesOfGamesWithPlayer.length > 0"
    [playerName]="selectedPlayer.Name"
    [gameName]="turnSummariesOfGamesWithPlayer[0].GameName">
  </game-display>
</div>

<div style="text-align:center">
This is just a private demonstration of code and not a commercial venture.
</div>